.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-image: url("./images/layers/sky.png");
  background-size: cover;
  position: relative;
  height: 400vh;
  background-repeat: no-repeat;
}

.backdrop-common {
  background-size: cover;
  box-sizing: border-box;
  margin: auto;
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}

.clouds {
  background-image: url("./images/layers/cloud.png");
}

.silhouette {
  background-image: url("./images/layers/silhouette.png");
}

.building-three {
  background-image: url("./images/layers/building-three.png");
}

.building-two {
  background-image: url("./images/layers/building-two.png");
}

.building-one {
  background-image: url("./images/layers/building-one.png");
}

.office {
  display: flex;
  flex-direction: column;
  position: relative;
}

.building-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.building-image {
  width: 100%;
  height: 100%;
}

.building-common {
  display: flex;
  background-size: contain;
  position: absolute;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.roof {
  margin-top: 21%;
  margin-left: 19%;
}

.roof-image {
  width: 85%;
}

.illustration {
  margin-top: 53%;
  margin-left: 15.5%;
}

.illustration-image {
  width: 80%;
}

.animation {
  margin-top: 73.5%;
  margin-left: 20%;
}

.animation-image {
  width: 80%;
}

.content {
  margin-top: 104.5%;
  margin-left: 15%;
}

.content-image {
  width: 80%;
}

.webdev {
  margin-top: 131%;
  margin-left: 26.5%;
}

.webdev-image {
  width: 80%;
}

.testimonial {
  margin-top: 163%;
  margin-left: 26%;
}

.testimonial-image {
  width: 80%;
  position: relative;
}

.testimonial-box {
  position: absolute;
  color: cornsilk;
  text-align: center;
  width: 85%;
  height: 50%;
  margin-top: 18%;
}

.testimonial-text {
  text-align: center;
  font-size: 15px;
}

.ground {
  display: flex;
  background-size: contain;
  position: absolute;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  margin-top: 173%;
}

.spray-painter {
  display: flex;
  padding-top: 28%;
  padding-left: 10%;
}

.spray-painter-image {
  width: 93%;
}

.spider-bot {
  display: flex;
}

.spider-bot-image {
  width: 93%;
}
