.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-image: url("./images/layers/sky.png");
  background-size: cover;
  position: relative;
  max-height: 100%;
  background-repeat: no-repeat;
}

.office {
  display: flex;
  flex-direction: column;
  background-size: contain;
  position: relative;
}

.building-image {
  max-width: 100%;
  max-height: 100%;
}

.roof {
  display: flex;
  background-size: contain;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -48%;
}

.roof-image {
  max-width: 65%;
}

.illustration {
  display: flex;
  background-size: contain;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -17%;
  margin-left: -6%;
}

.illustration-image {
  max-width: 60%;
}

.animation {
  display: flex;
  background-size: contain;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5.2%;
  margin-left: 4%;
}

.animation-image {
  max-width: 65%;
}

.content {
  display: flex;
  background-size: contain;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 35%;
  margin-left: -7%;
}

.content-image {
  max-width: 60%;
}

.webdev {
  display: flex;
  background-size: contain;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 62%;
  margin-left: 6.5%;
}

.webdev-image {
  max-width: 60%;
}

.testimonial {
  display: flex;
  background-size: contain;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 89%;
}

.testimonial-image {
  max-width: 45%;
}

.testimonial-box {
  position: absolute;
  color: cornsilk;
  text-align: center;
  width: 85%;
  height: 50%;
  margin-top: 10%;
}

.testimonial-text {
  text-align: center;
  font-size: 1rem;
}

.spray-painter {
  display: flex;
  position: absolute;
}

.spray-painter-image {
  max-width: 80%;
}

.disc-jockey {
  position: absolute;
  top: 88.8%;
  left: 74%;
}

.disc-jockey-image {
  max-width: 100%;
}

.aristocat-sign {
  position: absolute;
  top: 81.3%;
  left: 32%;
}

.aristocat-sign-image {
  max-width: 80%;
}

.social {
  position: absolute;
  top: 87.3%;
  left: 25%;
}

.social-image {
  max-width: 80%;
}

.team {
  position: absolute;
  top: 88.5%;
  left: 39%;
}

.team-image {
  max-width: 80%;
}

.spider-bot {
  position: absolute;
  top: 93.9%;
  left: 18%;
}

.spider-bot-image {
  max-width: 80%;
}

.green-bot {
  position: absolute;
  top: 93.9%;
  left: 67%;
}

.green-bot-image {
  max-width: 80%;
}

/* Media Queries for Responsiveness */
